.model {
    display: none;
    position: fixed;
    z-index: 15;
    top: 10%;
    left: 40%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
}

.model form {
    position: relative;
    height: auto;
    width: 450px;
    display: grid;
    gap: 30px;
    justify-content: center;
    padding: 20px 0;
    border-radius: 10px;
    /* background: #fff; */
    /* text-align: center; */
}

.model form .input-box {
    display: grid;
    gap: 5px;
}

.model form h2 {
    text-align: center;
}

.model form button {
    width: 40%;
    height: 40px;
    padding: 5px 20px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.model form .input-box input,
.model form .input-box select,
.model form .input-box textarea,
.model form .input-box #leaveType {
    width: 250px;
    height: 30px;
    padding: 5px 15px;
    background: #ebebeb;
    border-radius: 10px;
    border: none;
    outline: none;
}

.model .cls-btn {
    /* background: yellow; */
    position: absolute;

    /* left: 99%; */
    top: 1%;

    left: 95%;
    transition: all .2s ease;
    cursor: pointer;
}

.model .cls-btn:hover {
    transform: rotate(20deg);
}

#leaveTable tbody tr td:nth-child(5),
#leaveTable tbody tr th:nth-child(5) {
    /* background: yellow; */
    max-width: 400px;
    width: 400px;
    overflow-x: auto;
}

#compenTable tbody tr td:nth-child(4),
#compenTable tbody tr th:nth-child(4) {
    /* background: yellow; */
    max-width: 400px;
    width: 400px;
    overflow-x: auto;
}
#permissionTable tbody tr td:nth-child(3),
#permissionTable tbody tr th:nth-child(3) {
    /* background: yellow; */
    max-width: 400px;
    width: 400px;
    overflow-x: auto;
}

.applyheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.applyheader>div{
    display: flex;
    gap: 20px;
    padding: 10px 15px;
}
.applyheader>div button{
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.application-table-cont{
    width: 98%;
}