.search-form {
    margin: 0px 10px 0px 1px;

}

.bx-trash {
    margin: auto;
    color: black;
}

.mb-4 {
    padding: 0px;
    margin: 0px;
}

.modelUserIdABioType {
    display: flex;
    justify-content: space-between;
}

#bioType {
    border: 1px solid #da2442;
    background: transparent;
    outline: none;
    border-radius: 5px;
}

#bioTypeBtn {
    color: #fff;
    background: #da2442;
    border-radius: 5px;
    padding: 2px 7px;
    border: none;
}

#punchModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 260px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 10px;
}

#watchman-punchModal {
    display: none;
    position: fixed;
    top: 48%;
    right: 10%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 260px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 10px;
}

/* Overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.bio-refreach-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    max-width: 400px;
    width: 100%;
}

.biometric .search-form .row {
    display: flex;
    padding: 10px 7% 10px 0px;
    gap: 20px;
}

.biometric .col-md-3 {
    padding: 10px 0px;
}

.biometric .col-md-3 select {
    width: 150px;
    /* padding: 10px; */
    border: none;
    outline: none;
    border-radius: 10px;
    height: 30px;
    transition: .2s;
}

.biometric .col-md-3 select:hover {
    border: 2px solid #da2442;
}

.biometric .col-md-3 button {
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border: none;
    background: #da2442;
    cursor: pointer;
    color: white;
    transition: all .5s;
}

.biometric .col-md-3 button:hover {
    background: transparent;
    color: #da2442;
    border: 2px solid #da2442;
}

.log-table-container {
    margin: 20px 0 0;
    width: 100%;
    overflow-x: auto;
    /* Enables horizontal scrolling */
    border: 1px solid #ccc;
    background: transparent;
    backdrop-filter: blur(10px);
}


table {
    width: 800px;
    /* Set a wider table width */
    border-collapse: collapse;

}

th,
td {
    padding: 10px 10px;
    /* border: 1px solid black; */
    text-align: center;
    white-space: nowrap;

}


/* Fix Name and ID columns */
.log-table-container th:first-child,
.log-table-container th:nth-child(2),
.log-table-container td:first-child,
.log-table-container td:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #e23c58;
    color: white;
}

.log-table-container th:first-child,
.log-table-container th:nth-child(2) {
    border-bottom: 2px solid white;
}

.log-table-container th:nth-child(2),
.log-table-container td:nth-child(2) {
    left: 75px;
    /* Adjust based on Name column width  */
}


/* Attendance Employee Table */

.employee-attendance-section {
    display: flex;
    /* background: lightcyan; */
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
}

.employee-attendance-section .employee-attendance {
    width: 50%;
}

.employee-attendance-section .employee-attendance table {
    width: 100%;
}

.employee-attendance-section .employee-attendance table thead {
    position: sticky;
    top: 0;
}

.emp_attendance .log-table .log-table-head {
    background: #363636;
    color: #fff;
}

body.dark-mode .emp_attendance .log-table .log-table-head {
    background: var(--theme-red--);
    color: #fff;
}

.emp_attendance .log-table .log-table-head th {
    width: 100px;
    /* border: 2px solid #fff; */
    /* background: yellow; */

}

.emp_attendance .log-table td {
    color: #363636;
}

/* Add background to fixed headers */
body.dark-mode thead {
    background: var(--theme-red--);
    color: #fff;
}

.biometric table tbody td a {
    color: navy;
}

/* table tbody tr:nth-of-type(even) {
    background-color: #ed535346;
} */

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--brand-color--);
}



.biometric #punchModal,
#watchman-punchModal {
    padding: 20px;
    /* background: linear-gradient(60deg, #da2442,deeppink); */
    /* background: #da2442; */
    /* color: #fff; */
}

.biometric .modal-box h3 {
    text-align: center;
    padding: 10px 0px;
}

.biometric .modal-box p,
.biometric .modal-box h4 {
    padding: 2px 0px;
}

.biometric .modal-box ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.biometric .modal-box ul li {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 2px 0px;
}

.biometric .modal-box ul li button {
    background: transparent;
    cursor: pointer;
    border: none;
}

.biometric .modal-box ul li button i:hover {
    color: #da2442;
}

.biometric .btn-close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #da2442;
    cursor: pointer;
    color: #fff;
}

.biometric .modal-box #manualPunchForm {
    display: grid;
    gap: 10px;
}

.popup-btn {
    width: 40%;
    color: #fff;
    background: #da2442;
    border: none;
    margin: auto;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
    margin: 10px 0px;
}

.cal-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.popup-btn:hover {
    border: 2px solid #da2442;
    color: #da2442;
    background: transparent;
}

.manualTime {
    height: 30px;
    border: 1px solid #da2442;
    outline: none;
    border-radius: 10px;
    padding: 0px 5px;
}

/* ------------------- employee attendance (Normal employees view) */

.employee-attendance {
    /* overflow-x: auto; */
    overflow-y: auto;
    width: 45%;
    height: 45vh;
}

.log-table-container.employee-attendance table {
    width: 100%;
}

.emp_attendance .attendance-container {
    display: grid;
    height: 80vh;
    /* background: red; */
}




.attendace-data {
    width: 100%;
    margin: auto;
    /* background: red; */
}

.attendance-details {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50%;
    gap: 10px;
    height: 25vh;
}

.attendance-details>div>img {
    height: 70px;
}

.attendance-details>div {
    background: #363636;
    margin: auto;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    padding: 0px 5px;
    gap: 5px;
    color: #fff;
}

body.dark-mode .attendance-details>div {
    background: var(--theme-red--);
}

.attendance-details>div>div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.attendance-details .alc-1 {
    flex-direction: row;
    background: #363636;
    border-radius: 10px;
}

.attendance-details .alc-1 p:nth-last-child(1) {
    margin-left: 0;
}

.attendance-details>div>div p:nth-child(2) {
    margin-left: 30px;
    font-size: 20px;
}

.attendance-details .attendance-last-cont {
    display: grid;
    background: transparent;
}

body.dark-mode .attendance-details .attendance-last-cont {
    background: transparent;
}

body.dark-mode .alc-1 {
    background: var(--theme-red--);
}

.emp_att-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    /* background: red; */
}

.gb-btn {
    background: var(--theme-black--);
    color: #fff;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}

body.dark-mode .gb-btn {
    background: var(--theme-red--);
    color: #fff;
}

.emp_att-header form>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    /* background: yellow; */
    gap: 20px;
}

.emp_att-header form .col-md-3 {
    display: grid;
    width: calc(100% / 3);
}

.emp_att-header form select {
    border: none;
    outline: none;
    height: 35px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #ebebeb;
}

.emp_att-header>div:nth-last-child(1) {
    /* background: red; */
    height: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 30px;
}

.emp_att-header>div:nth-last-child(1)>div {
    display: grid;
    background: #ebebeb;
    border-radius: 10px;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
}

.employee-attendance-section div:nth-last-child(1) {
    /* background: red; */
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;

}

.employee-attendance-section div:nth-last-child(1) div {
    /* width: 100%; */
    background: #fff;
    border-radius: 10px;
    display: block;
    margin: auto;
    height: 80%;
    padding: 20px;
    transition: all .5s ease;
    /* box-shadow: 0 0 20px gray; */
}

#punch-logs-box:hover {
    box-shadow: 0 0 5px #363636;
    /* transform: rotate(2deg)  */
}

body.dark-mode #punch-logs-box:hover {
    box-shadow: 0 0 5px #dc1b40;
    /* transform: rotate(2deg); */
}




.employee-attendance-section #punchRecords {
    display: grid;
    /* background: yellow; */
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 40px;

}

.employee-attendance-section #punch-logs-box h3 {
    text-align: center;
    padding: 5px 0;

    /* margin: auto; */
}

.employee-attendance-section #punch-logs-box>div {
    padding: 10px;
    /* background: yellow; */
    width: 90%;
}





.employee-total-hours {
    width: 300px;
    margin: 40px auto;
    letter-spacing: 1px;
}

.emp-attendance-search-form {
    width: 37%;
}

.emp-attendance-search-form .mt-4 {
    height: 100%;
    margin-top: 22px;
}


/* Upload biometric */
#upload_bio {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 260px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 10px;
    width: 350px;
    height: 250px;
}

#upload_bio form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#upload_bio form .input-box {
    height: 60px;
    /* padding: 10px 5px; */
    /* background: red; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    /* gap: 10px; */
    font-size: 16px;
}

#upload_bio form .input-box input {
    height: 40px;
    border: 2px solid gray;
    outline: none;
    border-radius: 10px;
    width: 90%;
    padding: 2px 1%;
}

.text-danger {
    color: red;
}

.box-icon-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    background: #da2442;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}