
.leaverequest_table .approve,
.leaverequest_table .reject {
    background: rgb(148, 231, 148);
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(15, 109, 15);
    font-size: 16px;
    font-weight: 500;
}

.leaverequest_table .reject {
    background: rgb(221, 150, 150);
    color: rgb(142, 17, 17);
}

.leaverequest_table .reason {
    max-width: 250px;
    width: 250px;
}

.requestTableContainer .edit-btn {
    border: none;
    cursor: pointer;
    background: transparent;
    margin: 0 2%;
    font-size: 500;
    font-size: 16px;
}

.requestTableContainer .edit-input {
    outline: none;
    border: none;
    background: #ebebeb;
    border-radius: 3px;
    width: 40px;
    height: 30px;
    padding: 0 5px;
}

.save-btn {
    background: transparent;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: green;
    cursor: pointer;

}

.actions {
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    align-items: center;
}


.leabe-balence {
    max-width: 150px;
    width: 150px;
}

.leaverequest_table.compen_table .actions {
    width: 100%;
    gap: 2px;
    margin: auto;
}


.leaverequest .availabel-leave {
    display: flex;
    align-items: center;
    gap: 20px;
}

.leaverequest .availabel-leave form {
    border: none;
    background: var(--white-color--);
    height: 30px;
    width: 100px;
    padding: 0px 0px 0px 5px;
    border-radius: 5px;
}

.leaverequest .availabel-leave form select {
    border: none;
    outline: none;
    width: 60%;
}

.leaverequest .availabel-leave form button {
    border: none;
    background: var(--brand-color--);
    width: 30%;
    cursor: pointer;
    margin-left: 3px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}







/* ----------------- new Update -------------------- */
.requestTableContainer .td-reason {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.requestTableContainer .td-reason.full {
    white-space: normal;
}


.requestTableContainer {
    width: 98%;
    height: 87vh;
    padding: 30px 0 0 0;
}

#leaveRequestTable_wrapper {
    width: 100%;
}

.requestTableContainer table td,
.requestTableContainer table td {
    font-size: 14px;
}

#reject_reason_container .input_box{
    display: grid;
    gap: 10px;
}
#reject_reason_container .input_box:nth-child(2){
    display: flex;
}
#reject_reason_container .input_box textarea,
#reject_reason_container .input_box input{
    border-radius: 10px;
    background: #ebebeb;
    border: none;
    padding: 5px 10px;
}
#reject_reason_container .input_box input{
    height: 35px;
}
